/* CSS Stylesheet */

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* Header */

.header_text {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 0 0 1.5em 0;
}

.header_text span {
    font-size: 2em;    
    font-weight: bold;
    display: block;
    padding: 0.5em 0;
}

.header_bg {
    background: #333333;
    border-bottom: 1px solid black;
}

.messageBox {
    background: white;
    padding: 2em;
    position: absolute;
    width: 500px;
    min-width: 500px;
    top: 300px;
    left: 0;
    z-index: 9999;
    border: 1px solid #eee;
}

.messageBox h1 {
    margin-bottom: .5em;
    color: #8E1010;
}

.messageBox p {
    color: #9A8989;
    line-height: 26px;
}

.messageBox .hideBox {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: #8E1010;
    border: none;
    outline: 1;
    padding: 0.5em 0.8em;
}

.messageBox .hideBox:hover {
    background: #333333;
}

.delete {
    color: white;
    background: #8E1010;
    border: none;
    outline: 1;
    padding: 0.5em 0.7em;
    margin-left: 0.2em;
}

.delete:hover {
    background: #333333;
}

.edit {
    color: white !important;
    background: #8E1010;
    border: none;
    outline: 1;
    padding: 0.5em 0.7em;
    margin-left: 1em;
    text-decoration: none;
}

.edit:hover {
    background: #333333;
    text-decoration: none;
}

/* Nav */

nav {
    background: #B52424;
    padding: 1em 0;
    border-bottom: 2px solid #8E1010;
    margin-bottom: 2em;
}

.no-margin {
    margin-bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    background: #8E1010;
    border-radius: 6px;
    padding: 0.2em 0.5em 0.3em 0.5em;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

nav ul li.active a {
    border: 1px solid white;
}


/* Login */

#login-buttons {
    margin-left: 1em;
    margin-top: 1.5em;
}

#login-buttons .login-link-text {
    color: white;
}


/* Storages */

.storages {
    margin-top: 2em;
    margin-left: 1em;
}

.storages h1 {
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.storages ul li {
    margin-bottom: .5em;
}

.storages ul li a {
    color: black;
}


/* Storage edit page */

.storage {
    margin-left: 1em;
}

.storage img {
    margin-left: .5em;
}

.storage h2 {
    margin-bottom: 0.5em;
}

.info {
    display: block;
}

.info li {
    margin-bottom: 1em;
}

.modify input[type=text] {
    display: block;
    margin-top: 1em;
    width: 5.5em;
    text-align: center;
    padding: 1em;
}


/* Map */

.map-container {
    width: 100%;
    max-width: 100%;
    height: 800px;
}


/* Register */

.form-style-2 {
    max-width: 500px;
    padding: 20px 12px 10px 0;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-2 label > span {
    width: 140px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 23%;
}

.form-style-2 input.input-field {
    width: 48%;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
    border: 1px solid #0C0;
}

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
    background: #EA7B00;
    color: #fff;
}

.form-occupancy, .form-total-capacity {
    width: 100px !important;
}

input[type=submit] {
    margin-top: 1.5em;
    background: rgba(32, 150, 27, 0.53);
    padding: .5em 1em;
    border: 1px solid white;
    color: #FFFFFF;
}

input[type=submit]:hover {
    background: lightgreen;
}
